<div class="d-flex flex-column flex-md-row align-items-center 
p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">
        <app-header></app-header>
    </h5>
    <div class="btn-group" *ngIf="!userLoggedIn">
      <button class="btn btn-primary rounded mr-1" routerLink="/register">Sign up</button>
      <button class="btn btn-primary rounded" routerLink="/login">Sign In</button>
    </div>
    <!--<a *ngIf="userLoggedIn">Hello {{username}}
      <i class="fa fa-caret-down" aria-hidden="true"></i>
    </a>-->
    <div *ngIf="userLoggedIn" ngbDropdown class="d-inline-block">
      <button class="btn btn-primary rounded btn-sm"
      id="dropdownBasic1" ngbDropdownToggle>Hello {{username}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="btn btn-primary btn-block rounded btn-sm" 
         (click)="signOut()">SignOut</button>
      </div>
    </div>
    <nav class="my-2 my-md-0 mr-md-3 ">
      <a class="p-2 text-info" routerLink="/showCartItem">
      <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>{{count}}</a>
    </nav>
    
  </div>