<div class="container" style="margin-top: 40px;">
    <div class="row">
        <div class="col-md">
            <div class="card border border-dark rounded">
                <div class="card-header bg-dark text-white text-center">
                    <span>Groceries & Staples</span>
                </div>
                <div class="card-body">
                    <img src="assets/grocery.jpg">
                </div>
                <div class="card-footer bg-dark">
                    <button class="btn-warning btn-block rounded" (click)="displayGroceries()">View Grocery&Staples</button>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card border border-dark rounded">
                <div class="card-header bg-dark text-white text-center">
                    <span>Vegetables & Fruits</span>
                </div>
                <div class="card-body">
                    <img src="assets/veggies.jpg">
                </div>
                <div class="card-footer bg-dark">
                    <button class="btn-warning btn-block rounded">View Fruits&Veggies</button>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card border border-dark rounded">
                <div class="card-header bg-dark text-white text-center">
                    <span>Personal Care</span>
                </div>
                <div class="card-body">
                    <img src="assets/personalCare.jpg">
                </div>
                <div class="card-footer bg-dark">
                    <button class="btn-warning btn-block rounded">View PersonalCare</button>
                </div>
            </div>
        </div>
    </div>
</div>